In [89]:
#Loading the e mail spam dataset
import pandas as pd

In [90]:
df = pd.read_csv("spam.csv")

In [91]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [92]:
#converting category to dummy variable
df['spam'] = df['Category'].apply (lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [93]:
df.drop(['Category'],axis=1)

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [94]:
len(df['Message'])

5572

In [95]:
#Text pre-processing
X=[]

In [96]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import re
wordnet = WordNetLemmatizer()
for i in range(0, len(df['Message'])):
    review = re.sub('[^a-zA-Z]', ' ', df['Message'][i])
    review = review.lower()
    review = review.split()
    
    review = [wordnet.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    X.append(review)

In [97]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,df.spam)

In [98]:
from sklearn.feature_extraction.text import CountVectorizer

In [99]:
from sklearn.naive_bayes import MultinomialNB

In [100]:
#sklearn pipeline
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [101]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [102]:
clf.score(X_test,y_test)

0.9842067480258435

In [103]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Free entry in 2 a wkly comp to win FA Cup fina... '
]

In [104]:
clf.predict(emails)

array([0, 1], dtype=int64)